.navbar{
    position:fixed;
    height: 80px;
    overflow:hidden;
    top:0;
    display: flex;
    align-items: center;
    background-color : black;
    width: 100%;
    left: 0;
}

.menue a{
    
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition:color 0.3s;
 
    }
    .menue a:hover{
        color: red;
    }

.menue{

     font-size: large;   
    position: absolute;
    right: 30.33%;
    font-weight: bold;
     
    }

    #allcontact{

        font-weight: bolder;
    }