* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {

  
 
    margin-top: 50px;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 400px; 
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }





  .navbar{
 
    position:fixed;
    height: 80px;
    overflow:hidden;
    top:0;
    display: flex;
    align-items: center;
    background-color : black;
    width: 100%;
    margin-right: 100%;
    }



    .menue a:hover{
      color: red;
  }
  .menue a{
    
      color: ghostwhite;
      text-decoration: none;
      font-weight: 700;
      margin-left: 20px;
      transition:color 0.3s;
      }

      .menue{

      
          position: absolute;
          right: 20px;
         
              
          }
.allpic{

height: 250px;
width: 300px;


}

#div1{

  border-radius: 30px;
  border-color: black;
  border-style: double;
  border: 2px;
}


#trigger {
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 3px;
}

#overlay {
  position: fixed;
  height: 100%; 
  width: 100%;
  top: 0;
  right: 0;  
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
}

#popup {
  max-width: 600px;
  width: 80%;
  max-height: 300px;
  height: 80%; 
  padding: 20px;
  position: relative;
  background: #fff;
  margin: 20px auto;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
}