.navbar{
    position:fixed;
    height: 80px;
    overflow:hidden;
    top:0;
    display: flex;
    align-items: center;
    background-color : black;
    width: 100%;
    left: 0;
}

.menue a{
    
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition:color 0.3s;
 
    }
    .menue a:hover{
        color: red;
    }

.menue{

     font-size: large;   
    position: absolute;
    right: 30.33%;
    font-weight: bold;
     
    }


#fullpage{
    margin-top: 75px;
    opacity: 0.5;
    width: 100%;
    height: 650px;
   
}


#fullpage:hover{

    opacity: 1;
}


.container {
 
    text-align: center;
    color: white;
  }      




  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }   
  
  
#txt1{
 
     font-size: 50px;
    color: black;
}
#txt1:hover{

    text-decoration-line: underline;
    text-decoration-color: red ;
    text-decoration-style: none;
}


#freeworkout{
    margin-right:  70%;
    height: 350px ;
    width: 50;
 }

#freeworkout{
    margin-left: 45px;
    width: 500px;
    height: 600px;
    
}

#color:hover{
    text-decoration-line: underline;
    text-decoration-color: red ;
    text-decoration-style: none;
}

#color{
    
    margin-right: 25%;
    color: black;
    font-size: 85px;
    
}


#freeworkoutdiv{
    column-count: 2;
    vertical-align:middle;
}
#but{
   
    border-radius: 12px;
    border: none;
    color:white;
    padding: 20px;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 25%;
}

#slide2{
    display: none;
}


.adds{
    width:410px;
    height: 320px;
   }

#contact {
    margin-right: 70%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    column-count: 2;
    width: 1250px;
}

#contact:hover {
    color: red;
}

#container{
    column-count: 2;
    text-align: center;
}
#follow {
    margin-left: 70%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding-left: 1em; 
    text-indent: -.7em;
  }
  
  li::before {
    content: "• ";
    color: rgb(0, 0, 0); 
  }