

.buttonclass {
width: 550px;
border-radius: 12px;
 
    color:black;
    padding: 20px;
    text-align: center;
   background-color: transparent;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(231, 225, 211);
}

.buttonclass:hover{
    color: white;
    background-color: tomato;
}

.submit {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    text-align: center;
    width: 150px;
    background-color: tomato;
}

.inputclass {
    border-radius: 12px;
    border:none;
    color:white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:rgb(187, 187, 187);
    text-align: center;
    display: inline-flex
}

p {
    color: white;
    font-size: larger;
   
}

.label {
    color: rgb(248, 12, 12);
    font-weight: bolder;
    text-align: center;
}

.navbar{
    position:fixed;
    height: 80px;
    overflow:hidden;
    top:0;
    display: flex;
    align-items: center;
    background-color : black;
    width: 100%;
 left: 0;
}

.menue a{
    
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition:color 0.3s;
 
    }
    .menue a:hover{
        color: red;
    }

.menue{

     font-size: large;   
    position: absolute;
    right: 30.33%;
    font-weight: bold;
     
    }

    .ml3 {
        font-weight: 900;
        font-size: 3.5em;
      }

      #description {
          align-items: center;
          font-size: 20px;
          width: 750px;
          margin-left: 25.33%;
          text-shadow: 2px 2px black;
         
          height: 250px;
      }


#start:hover{
    color: white;
    background-color: tomato;
}
::placeholder{
    color: rgb(0, 0, 0);
}



#overlay {
    position: fixed;
    height: 100%; 
    width: 100%;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    }
  
    #popup {
    max-width: 600px;
    width: 80%;
    max-height: auto;
    height: 80%; 
    padding: 20px;
    position: relative;
    background: #fff;
    margin: 20px auto;
    }

    #close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: #000;
     }
  #text{

    color: white;
  }

  .background {
      text-align: center;
      background-image: url('https://static01.nyt.com/images/2017/04/09/well/9minute-workout-promo/9minute-workout-promo-jumbo.png');
     
  }
  #warmuptext{
    
      width: 550px;
      margin-left: 32.33%;
      background-color: rgb(102, 99, 99);
  }