.buttonclass {
width: 550px;
border-radius: 12px;
    border: none;
    color:black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:rgb(236, 200, 186);
}

.submit {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    text-align: center;
}

.inputclass {
    border-radius: 12px;
    border: none;
    color:black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:rgb(236, 200, 186);
    text-align: center;
    display: inline-flex
}

